@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.main{
    padding-top: 6%;
}
.cart{
    margin-left: 11%;
    width:56%;
    padding-top:15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.book-container{
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}

.cart-container1{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.cart-title{
    width: 85px;
    height: 22px;
    text-align: left;
    font: normal normal medium 18px/22px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-bottom: 2%;
}

.details{
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
}
.book-cover1{
    width: 65px;
    height: 85px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 3%;
}

.book-info1{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 2%;
}

.book-title{
    width: max-content;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-bottom: 3%;
}
.author-name{
    width: max-content;
    height: 12px;
    text-align: left;
    font: normal normal normal 11px/12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    margin-bottom: 3%;
}
h4{
    width: max-content;
    height: 18px;
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.book-info1 *{
    margin: 3px;
}
.quantity{
    width:100%;
}
.quantity button{
    border-radius: 50px;
    width: 24px;
    height: 24px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    opacity: 1;
    margin-left: 3%;
    margin-right: 3%;
}

.quantity input{
    width: 41px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    text-align: center;
}
.controls1{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 0;
    width: 160px;
    align-items: left;
    justify-content: flex-start;
}
h6{
    width: 43px;
    height: 15px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.button-container1{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 5%;

}
.place-order1{
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: 0;
    color: white;
    width: 150px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    
}