@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.main-container{
    margin-left: 11%;
    width:56%;
    margin-top: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 14.5px;
}
.compressible-container{
    height: 55px;
}
h3{
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    height: 18px;
    padding-left: 5%;
}
.text-input{
    width: 40%;
    height:5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #DCDCDC;
    // padding: 0px;
}
.textarea{
    width: 81.5%;
    background-color: red;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    // padding: 5px;
    
}
.register-error1{
    color: red;
    font-size: 15px;
    margin-top: 1%;
    font-family: Roboto;
    margin-top: 4%;
    margin-left: 3.2%;
    font-weight: bolder;
  }
.type-label{
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}
.radio-row{
    margin-left: 4%;
    margin-top: 2%;
}
.customerform{
    width: 100%;
    margin-top: 1%;
    height: 355px;
}
.form-container{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: 3%;
}
.row{
    padding-left: 2.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}
.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.button-input{
    margin-top: 39%;
    margin-right: 5%;
}
.continue-button{
    text-transform: uppercase;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: 0;
    color: white;
    width: 150px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
}
.radio-label{
    margin-left: 3%;
    width: 32px;
    height: 15px;
    text-align: left;
    font: normal normal normal 13px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}
input[type='radio']:checked:after {
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
}
.radio-input{
    margin-top: 2%;
    width: 12px;
    height: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.radio{
    margin-left: 12%;
}
error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}