@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.myCart{
    height: 100%;
}
.cart{
    margin-left: 11%;
    width:56%;
    margin-top: 20px;
    padding-top:15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    //margin-bottom: 80%;
}
.Book-container{
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    margin-bottom: 4%;
}
.cart-container{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.summary-title{
    width: max-content;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}

.book-cover{
    width: 65px;
    height: 85px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}
.details{
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
}
.book-info{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-left: 5%;
}

.book-title{
    width: max-content;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.author-name{
    width: max-content;
    height: 12px;
    text-align: left;
    font: normal normal normal 11px/12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}
h4{
    width: max-content;
    height: 18px;
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.book-info *{
    margin: 3px;
}
.quantity{
    width:100%;
}
.quantity button{
    border-radius: 50px;
    width: 24px;
    height: 24px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    opacity: 1;
    margin-left: 3%;
    margin-right: 3%;
}

.quantity input{
    width: 41px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    text-align: center;
}
.controls{
    display: flex;
    flex-direction: row;
    margin-top: 17%;
    padding: 0;
    width: 160px;
    align-items: center;
    justify-content: center;
}
.amount{
    width: max-content;
    height: 18px;
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-left: 8%;
    margin-bottom: 3%;
}
.controls *{
    margin: 0;
}
h6{
    width: 43px;
    height: 15px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 3%;

}
.place-order{
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: 0;
    color: white;
    width: 150px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-transform: uppercase;
    cursor: pointer;
}

.compressible-summary{
    margin-bottom: 5.5%;
    height: 55px;
}
.order{
    margin-left: 11%;
    width:56%;
    padding-top:15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}