@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body{
    font: normal normal medium 12px/15px Lato;
}
#cart{
    position: relative;
    width: 772px;
    height: 240px;
    margin-left: 130px;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgb(194, 193, 193);
}
#cart-title{
    margin-left: 30px;
    margin-top: 20px;
    
}

.book-cover{
    height: 86px;
    width: 65px;
    margin-left: 36px;
    margin-top: 20px;
    float: left;
}

#book-info{
    width:630px;
    margin-left: auto;
    margin-top: 40px;
}

.book-title{
    font-size: 15px;
}
.author-name{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.384);
}
#book-info *{
    margin: 10px;
}
#quantity{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:0;
    // background-color: blue;
}
#quantity *{
    margin: 5px;
}
#quantity button{
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid rgb(209, 206, 206);
}

#quantity input{
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid rgb(209, 206, 206);
}
.controls{
    padding: 0;
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: center;
}
.controls *{
    margin: 0;
}

h6{
    font-weight: 100;
}

#place-order{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #0066cc;
    border: 0;
    border-radius: 3px;
    color: white;
    width: 150px;
}