@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("//fonts.googleapis.com/css?family=Lato");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .book_head{
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .book_item{
    width: 35%;
    display: flex;
    flex-direction: row;
    margin-left: 85px;
  }
  .book_heading{
    font-weight:500;
    margin-left: 32%;
    font-size: x-large;
  }
  .book_count{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 290px;
    margin-left: 48%;
    margin-top: -6%;
    
  }
  .count{
    width: 100px;
    opacity: 0.5;
    font-size: x-small;
    margin-top: 4px;
    margin-left: 8px;
  }
  .book_sort{
    width: 25%;
    margin-right: 45px;
  }
  .sort{
    margin-right: 165px;
  }
  .sort-box{
    width: 150px;
    border-color: rgb(180, 178, 178);
    padding: 4px 1px 2px 2px;
  }
  .cards{
    width: 100%;
    height: auto;
    margin-left: 115px;
}
.card{
    margin-left: 120px;
    margin-bottom: 40px;
    border: 1px solid rgba(143, 155, 160, 0.493);
    width: 18%;
    background-color: rgba(235, 237, 252, 0.555);
    float: left;
    border-radius: 5px;
    box-shadow: 0px 13px 10px -7px rgba(244, 248, 253, 0.877);
    display: flex;
    flex-direction: column;
    margin:0.9rem;
    max-height: 310px;
}

.card:hover{
  background-color: yellow;
}
  .card_img{
    width: 40%;
    height: 130px;
    margin-left: 68px;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-bottom: 12px;
    padding-top:8px;  
  }
  .card_info{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0px 24px 21px 24px;
    margin-top: -5px;
    background-color: rgb(252, 252, 247); 
  }
  .card_category{
   text-align: left;
   color: #868686;
  //  margin-left: -120px;
   margin-top: 0px;
   font-size: 12px;
  }
  .card_price{
      text-align: left;
      margin-top: 3px;
      font: normal normal bold 13px/15px Lato;
  }
  .card_title{
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: sans-serif;
    text-align: left;
    font-weight: 200;
  }
  .button{
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height:35px
    // justify-content: space-evenly;
  }
  .button-cart{
    background-color: #A03037;
    color:white;
    border-radius: 3px;
    margin-right: 25px;
    padding: 7px 6px;
    cursor: pointer;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
      
}
  .button-cart:focus{
    background: #3371BF;
    width: 250px;
  }
  .button-wishlist{
    border-radius: 3px;
    color:black;
    padding: 7px 6px;
    cursor: pointer;
    font-size: 13px;
    background-color: #fff;
    border: solid black 1px;
    cursor: pointer;
    text-transform: uppercase;
  }
