@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .heading_style{
    padding: 30px 0;
    text-align: leftS;
    font-family: normal normal normal 25px/30px Lato;
    font-size: 1.5rem;
    // font-weight: 500;
    margin-left: 130px;
    // font-size: 1.5rem;
  }
  .cards{
    width: 100%;
    height: auto;
    margin-left: 110px;
}
.card{
    margin-left: 130px;
    margin-bottom: 40px;
    border: 1px solid rgba(143, 155, 160, 0.493);
    width: 18%;
    //background-color: rgba(235, 237, 252, 0.555);
    float: left;
    border-radius: 5px;
    box-shadow: 0px 13px 10px -7px rgba(244, 248, 253, 0.877);
    display: flex;
    flex-direction: column;
    margin:1rem;
    height: 300px;
    
    
}
  .card_img{
    width: 32%;
    height: 105px;
    margin-left: 83px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card_info{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
     background-color: rgb(252, 252, 247); 
  
  }
  .card_category{
   text-align: left;
   color: #868686;
  //  margin-left: -120px;
   margin-top: 0px;
   font-size: 12px;
  }
  .card_price{
      text-align: left;
      margin-top: 3px;
  }
  .card_title{
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: sans-serif;
    text-align: left;
    font-weight: 200;
    
  }
  .button{
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height:30px;
    width: 230px;
    // justify-content: space-evenly;
  }
  .button-cart{
    background-color: #A03037;
    color:white;
    border-radius: 2px;
    margin-right: 15px;
    padding: 8px 8px ;
    cursor: pointer;
    font: normal normal medium 10px/10px Lato;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0px;
      
  }

  .button-cart:focus{
    background: #3371BF;
    width: 108px;
  }
  .button-wishlist{
    border-radius: 2px;
    color:black;
    padding: 8px 8px;
    cursor: pointer;
    font: normal normal medium 10px/10px Lato;
    background-color: #fff;
    border: solid black 1px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0px;
  }



