.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .header {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
    }
    error-output{
      margin-left: 10px;
      font-size: 12px;
      font-style: italic;
      color: red;
  }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 21em;
        margin-bottom: 1%;
        margin-top: 1%;
        img {
          width: 86%;
          height: 85%;
        }
      }
  
      .form {
        margin-top: 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 90%;
          }
          input {
            margin-top: 5px;
            min-width: 18em;
            height: 98%;
            padding: 0px 5px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 10px;
            transition: all 250ms ease-in-out;
            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #A03037;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #A03037;
            }
          }
        }
      }
    }
  
    .footer {
      margin-top: 1em;
    }
  }